.vh-100 {
    background-image: url("https://img.freepik.com/premium-vector/abstract-plexus-background-with-connecting-dots-lines_302149-235.jpg?w=1060");
    background-repeat: no-repeat;
    background-size: cover;
  }
